<a href="https://colab.research.google.com/github/pavss/Data_Structures/blob/main/duplicate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
def no_duplicate():
  list1 = [x for x in input("Enter numbers seperated by comma:").split(',')]
  list2 = set(list1)
  print([int(i) for i in list2])

In [13]:
no_duplicate()

Enter numbers seperated by comma:4,4,5,6,8,8
[8, 4, 5, 6]